body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    margin: 20px;
    color: rgb(71, 117, 71);
    background-color: lime;
    outline: rgb(71, 117, 71);
    width: 223px;
    height: 75px;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.error-text {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

#syriaFlag {
    background-image: url(assets/sy.webp);
    background-repeat: no-repeat;
    background-size: contain;
    width: 223px;
    height: 152px;
}

#flagTitleSyria {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1em;
    position: relative;
    top: 43%;
    left: 24%;
}

#flagTitleEdition {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1em;
    position: relative;
    top: 43%;
    left: 36%;
}

#spacer {
    height: 30vh;
}

#syriaButton {
    width: 223px;
    height: 40px;
}

#syriaMap {
    width: 100%;
    max-width: 490px;
}

.resultInputBlocker {
    background-color: #00000020;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}

.resultPopup {
    width: 90%;
    max-width: 500px;
    border: 3px solid;
    height: 300px;
    background-color: rgb(108, 180, 180);
    padding: 10px;
    position: relative;
}

.closeButton {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 0 20px 0;
}

#ortext {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#capital-select {
    position: relative;
    left: -230px;
    top: 9px;
}

#capital-input {
    position: relative;
    top: -13px;
    left: 200px;
}
